<%# <h1>Ah non non, tu ne peux pas encore edit 🥲</h1> %>
<%# <h3>Nos devs sont actuellement en PLS 🤪</h3> %>
<h1>Edit <%= @video_game.title %></h1>
<%= simple_form_for :video_game, url: video_game_path, method: :patch do |f| %>
  <%= f.input :title %>
  <%= f.input :photo %>
  <%= f.input :category %>
  <%= f.input :plateform %>
  <%= f.input :price %>
  <%= f.button :submit, "Save Video Game", class: "preorder" %>
<% end %>

