<h1>Edit a games</h1>
<%= simple_form_for :video_game, url: video_game_path, method: :patch do |f| %>
  <%= f.input :title %>
  <%= f.input :photo %>
  <%= f.input :category %>
  <%= f.input :plateform %>
  <%= f.input :price %>
  <%= f.submit %>
<% end %>
