<div class="wrapper p-0">
  <% if photo.present? %>
    <div class="overviewInfo" style="background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0,0,0,0.2)),url('<%= cl_image_path photo.key, height: 324, crop: :fill %>');background-size: cover;background-position:center;">
    <% else %>
      <div class="overviewInfo" style="background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0,0,0,0.2)),url('<%= cl_image_path "rar7ij31rdt35519xbe2x3thlbj9", height: 324, crop: :fill %>');background-size: cover;background-position:center;">
      <% end %>
      <div class="productImage">
        <img src="https://www.eclypsia.com/content/Nintendo/Switch/joycon01.png" alt="product: ps5 controller image" width="30px">
      </div>
    </div>
    <div class="productSpecifications" style=background-color:var(--grey)>
      <div>
        <h2 style=margin-bottom:15px;><%= title %></h2>
        <div class="productinfo">
          <div>
            <p class="m-0"><U>Platform</U> : <%= plateform %></p>
          </div>
          <div>
            <p class="m-0"><U>Category</U> : <%= category %></p>
          </div>
          <div>
            <p class="m-0"><U>Availability</U> : <%= available %></p>
          </div>
          <p class="m-0" style=margin-bottom:10px;> <I><%= "Provided by: " %><%= user.nickname %></I></p>
        </div>
      </div>
      <div class="actions">
        <div class="checkoutButton" style=background-color:var(--grey)>
          <div class="priceTag">
            <span>€</span><%= price %> <%= " / Day" %>
          </div>
          <% if user_signed_in? && current_user != user %>
            <button type="button" class="preorder" data-toggle="modal" data-target="#dateModal" data-game="<%= title %>" data-game-id=<%= id %> data-user-id=<%= current_user.id %>>
              <p>Rent Now !</p>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%# <div class="productFeatures">
              <div class="feature">
                <div class="featureIcon">
                </div>
                <div class="featureText">
                  <p> <strong>Futuristic</strong></p>
                  <p>Design</p>
                </div>
              </div>
              <div class="feature">
                <div class="featureIcon">
                </div>
                <div class="featureText">
                  <p> <strong>Built-in</strong></p>
                  <p>Microphone</p>
                </div>
              </div>
              <div class="feature">
                <div class="featureIcon">
                </div>
                <div class="featureText">
                  <p> <strong>Haptic</strong></p>
                  <p>Feedback</p>
                </div>
              </div>
              <div class="feature">
                <div class="featureIcon">
                </div>
                <div class="featureText">
                  <p> <strong>Fast charge</strong></p>
                  <p>USB-C port</p>
                </div>
              </div>
            </div> %>
  <!-- Modal -->
  <div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% if user_signed_in? %>
          <div class="modal-body">
            <%= simple_form_for :rent, namespace: "card_#{id}", :url => new_rent_path do |f| %>
              <%= f.input :video_game_id, :as => :hidden, input_html: {class: "game-id"} %>
              <%= f.input :user_id, :as => :hidden, input_html: {class: "user-id"} %>
              <%= f.input :rent_start_at, as: :string, required: true, input_html: {class: "rent_start_at"} %>
              <%= f.input :rent_end_at, as: :string, required: true, input_html: {class: "rent_end_at"} %>
              <div class="modal-footer">
                <button type="button" class="btn-close-modal" data-dismiss="modal">Close</button>
                <button type="submit" class="preorder">
                  <p>Rent Now !</p>
                </button>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
