<div class="card-product">
  <% if game.photo %>
    <img src=<%= game.photo %> />
  <% end %>
  <div class="card-product-infos">
    <h2><%= game.title %></h2>
    <p><%= game.plateform %></p>
    <p><%= game.price %>€ per day</p>
    <%= link_to video_game_path(VideoGame.find_by(id: game.id)), method: :delete, data: {confirm: "Are you sure ?"} do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
    <%= link_to edit_video_game_path(VideoGame.find_by(id: game.id)) do %>
      <i class="fas fa-edit"></i>
    <% end %>
  </div>
</div>
