<div class="card-product">
  <% if photo %>
    <img src=<%= photo %> />
  <% end %>
  <div class="card-product-infos">
    <h2><%= title %></h2>
    <p><strong><%= available %></strong></p>
    <i class="fas fa-trash-alt"><%= link_to "Remove",
                video_game_path(VideoGame.find_by(id: id)),
                method: :delete,
                data: {confirm: "Are you sure ?"}  %></i>
    <i class="fas fa-edit"><%= link_to "Edit",
                edit_video_game_path(VideoGame.find_by(id: id)),
                method: :get %></i>
  </div>
</div>
